<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<h1>
	<div th:text="${'Ben arrivato ' + user.getUsername()}"></div>
</h1>
<h4> 	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
		</div>
	I tuoi preventivi:
	<table border="1">
		<thead>
			<tr>
				<th>Numero preventivo</th>
				<th>Codice cliente</th>
				<th>Prodotto</th>
				<th>Prezzo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${preventives}">
				<td th:text="${p.getID()}"></td>
				<td th:text="${p.getClient()}"></td>
				<td th:text="${p.getProductName()}"></td>
				<td th:text="${p.getPrice()}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div th:if="${todo!=null}">
	Preventivi non ancora assegnati:
	<form action="AssignPrice" method="post">
			<div th:each="t : ${todo}">
				<input type="radio" name="preventiveid" th:text="${t.getID()}" th:value="${t.getID()}" required>
			</div>
			<input type="submit" value="Prezza preventivo"/>
	</form>
		<div th:text="${errorMsg}"></div>
	</div>
	
	<div th:if="${todo==null}" >Tutti i preventivi sono assegnati
	</div>
</h4>
</body>
</html>